ffmpeg-python
Flask
Flask_Cors
gradio==5.34.2
numpy
pyworld
scipy
SoundFile==0.12.1
torch
torchaudio
torchcrepe
#xformers==0.0.30
tqdm
rich
loguru
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
git+https://github.com/VarunGumma/fairseq.git
librosa
tensorboard
tensorboardX
transformers
edge_tts
langdetect
pyyaml
pynvml
faiss-cpu
einops
local_attention